body{
    background: url(./fondo2.jpg) no-repeat center center fixed;
    background-size: cover;
}




/*CSS NUEVO*/
.formulario{
  /*Color de fondo*/
  background: #00000086;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  /*Sombra*/
  box-shadow: 0 3px 8px black;
  color: white;
}

/*Este es el form-control*/
.form-group input{
    background:none;

    transition: 0.5s ease-in;
    box-shadow: none;
    /*border:0;*/
    padding-left: 54px;
    border-radius: 2px;
    border-color: black;

    border-width: 0px 0px 1.5px 0px ;
}

.form-group input:focus{
    background: none;
    box-shadow: none;
    padding-left: 54px;
    border-radius: 2px;
    border-color: white;

    border-width: 0px 0px 1.5px 0px ;
    /*border:0;*/
    /* padding-left: 54px;
    border-radius: 5px;
    border-color: black;

    border-width: 0px 0px 1.5px 0px ; */
}

.ingresar{
  background: #e2e1e1;
  padding: 10px;
  font-size: 16px;
  font-weight: 700!important;
  color: black;
}
.form-group input::placeholder{
    color: white;
}

/* .form-group input::placeholder{
    color: white;
} */

a:hover{
  /*Color de la raya*/
  text-decoration-color: white;
  color: white;
}
a{
  color: gray;
}
.user-img{
  align-items: center;
    margin-top: -70px;
    margin-bottom: 35px;
}

.user-img img{
    width: 100xp;
    height: 100px;
}











/*A partir de aqui es otro*/
.form-control, .btn {
  border-radius: 2px;
}
.login-form {
  width: 350px;
  margin: 0 auto;
  padding: 100px 0 30px;
}
.login-form form {
  color: #7a7a7a;
  border-radius: 2px;
    margin-bottom: 15px;
      font-size: 13px;
      background: #ececec;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
      position: relative;
  }
.login-form h2 {
  font-size: 22px;
      margin: 35px 0 25px;
  }
.login-form .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -50px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #70c5c0;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-form .avatar img {
  width: 100%;
}
  .login-form input[type="checkbox"] {
      margin-top: 2px;
  }
  .login-form .btn {
      font-size: 16px;
      font-weight: bold;
  background: #70c5c0;
  border: none;
  margin-bottom: 20px;
  }
.login-form .btn:hover, .login-form .btn:focus {
  background: #50b8b3;
      outline: none !important;
}
.login-form a {
  color: #fff;
  text-decoration: underline;
}
.login-form a:hover {
  text-decoration: none;
}
.login-form form a {
  color: #7a7a7a;
  text-decoration: none;
}
.login-form form a:hover {
  text-decoration: underline;
}
