body{
    background: url(./fondo.jpg) no-repeat center center fixed;
    background-size: cover;
}
.bg{
  background-color: black;
  color: white;
}
/* .nav-link{
  background-color: yellow;
  text-decoration-color: white;
} */
.cabecera{
  width: 100%;
  height: 15%;
  margin-top: 4%;
  background-color: black;
}

.ingresar{
  background: #e2e1e1;
  padding: 10px;
  font-size: 16px;
  font-weight: 700!important;
  color: black;
}

/* .form-group input::placeholder{
    color: white;
} */

a:hover{
  /*Color de la raya*/
  text-decoration-color: white;
  color: white;
}
a{
  color: gray;
}
.user-img{
  height: 100%;
}

.user-img2{
  margin-left: 7px;
  margin-top: 15px;
  height: 50%;
}
.div0{
  float: left;
  justify-content: center;
  /* width: 6%;
  height: 100%;
  background-color: blue; */
}
.div1{
  float: right;
  width: 6%;
  height: 100%;
  /* background-color: red; */
}
.divgeneral{
  float: right;
  width: 23%;
  height: 100%;
}
.div2{
  width: 100%;
  height: 30%;
  /* background-color: blue; */
}
.div3{
  width: 100%;
  height: 20%;
  /* background-color: green; */
}
.divprofile{
  width: 100%;
  height: 20%;
  background-color: #e2e2e2c5;
}
.divProfile1{

}


.estilo1{
  font-size-adjust: auto;
  font-size: 18pt;
  text-align: right;
  position: relative;
  color: white;
}


.estilo2{
  font-size: 10pt;
  text-align: center;
  position: relative;
  color: white;
}

.estilo3{
  margin-top: auto;
  font-size: 30pt;
  text-align: left;
  position: relative;
  color: black;
}
